In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Foreign exchange rates dataset
fe = pd.read_csv('Foreign_Exchange_Rates.csv', index_col=0)
fe.drop('HONG KONG - HONG KONG DOLLAR/US$', axis=1, inplace=True)
fe.columns

Index(['Time Serie', 'AUSTRALIA - AUSTRALIAN DOLLAR/US$',
       'EURO AREA - EURO/US$', 'NEW ZEALAND - NEW ZELAND DOLLAR/US$',
       'UNITED KINGDOM - UNITED KINGDOM POUND/US$', 'BRAZIL - REAL/US$',
       'CANADA - CANADIAN DOLLAR/US$', 'CHINA - YUAN/US$',
       'INDIA - INDIAN RUPEE/US$', 'KOREA - WON/US$',
       'MEXICO - MEXICAN PESO/US$', 'SOUTH AFRICA - RAND/US$',
       'SINGAPORE - SINGAPORE DOLLAR/US$', 'DENMARK - DANISH KRONE/US$',
       'JAPAN - YEN/US$', 'MALAYSIA - RINGGIT/US$',
       'NORWAY - NORWEGIAN KRONE/US$', 'SWEDEN - KRONA/US$',
       'SRI LANKA - SRI LANKAN RUPEE/US$', 'SWITZERLAND - FRANC/US$',
       'TAIWAN - NEW TAIWAN DOLLAR/US$', 'THAILAND - BAHT/US$'],
      dtype='object')

In [3]:
fe.head()

,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,INDIA - INDIAN RUPEE/US$,KOREA - WON/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,43.55,1128,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,43.55,1122.5,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,43.55,1135,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,43.55,1146.5,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,43.55,1138,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3

In [4]:
# Convert date to date object and extract year
fe['Time Serie'] = pd.to_datetime(fe['Time Serie'])
fe['Time Serie'] = fe['Time Serie'].dt.year

In [5]:
# Consolidate foreign exchange rates to yearly average
fe.replace(to_replace='ND', value=np.nan, inplace=True)
fe = fe.apply(pd.to_numeric)
df = pd.DataFrame()
df['Year'] = fe['Time Serie'].unique()
for i in range(1, len(fe.columns)):
    series = fe.groupby(['Time Serie'])[fe.columns[i]].mean()
    df.insert(i, fe.columns[i], series.values)
df.head()

,Year,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,INDIA - INDIAN RUPEE/US$,KOREA - WON/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,2000,1.727126,1.086398,2.204233,0.661126,1.830128,1.485542,8.278412,44.997476,1130.897540,...,1.724978,8.095254,107.804048,3.800002,8.813068,9.173481,76.964365,1.690408,31.259937,40.209833
1,2001,1.936453,1.117998,2.381929,0.694800,2.352697,1.548735,8.277013,47.219960,1292.014920,...,1.792972,8.332317,121.568040,3.800005,8.996417,10.342548,89.601720,1.689094,33.824296,44.531888
2,2002,1.841163,1.061171,2.161254,0.666690,2.921338,1.570400,8.277051,48.625697,1250.313984,...,1.790782,7.886208,125.220438,3.800016,7.983912,9.723307,95.772749,1.556704,34.536295,43.019204
3,2003,1.540872,0.885085,1.722408,0.612383,3.075000,1.400818,8.277171,46.590797,1192.081673,...,1.742909,6.577386,115.938685,3.800000,7.080261,8.078662,96.541315,1.344976,34.404717,41.555896
4,2004,1.360242,0.804921,1.508478,0.545839,2.926242,1.301674,8.276793,45.260988,1145.236364,...,1.690208,5.989083,108.150830,3.800000,6.739950,7.348018,101.267648,1.242805,33.371913,40.271083

In [6]:
# Deaths by risk factor dataset
drf = pd.read_csv('Number of Deaths by Risk Factors.csv')
drf.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [7]:
unique_countries = drf['Entity'].unique()
unique_countries

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
# Drop countries and years that do not overlap with foreign exchange rate data
drop_countries = ['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria','American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Azerbaijan','Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus','Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia','Bosnia and Herzegovina', 'Botswana', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad','Chile', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba','Czechia', 'Democratic Republic of Congo', 'Djibouti','Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)','Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)','European Region (WHO)', 'Fiji', 'G20','Gabon', 'Gambia', 'Georgia', 'Ghana', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea','Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary','Iceland', 'Indonesia', 'Iran', 'Iraq',
       'Israel','Jamaica', 'Jordan', 'Kazakhstan','Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos','Latin America & Caribbean (WB)', 'Lebanon', 'Lesotho','Liberia', 'Libya', 'Madagascar','Malawi', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco','Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal','Nicaragua', 'Niger', 'Nigeria','Niue', 'North America (WB)', 'North Korea', 'North Macedonia','Northern Ireland', 'Northern Mariana Islands', 'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines','Poland', 'Puerto Rico', 'Qatar','Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda','Saint Kitts and Nevis', 'Saint Lucia','Saint Vincent and the Grenadines', 'Samoa', 'San Marino','Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa','South Asia (WB)', 'South Sudan','South-East Asia Region (WHO)', 'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Syria', 'Tajikistan', 'Tanzania', 'Timor', 'Togo', 'Tokelau', 'Tonga','Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan','Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam','Western Pacific Region (WHO)', 'World','World Bank High Income', 'World Bank Low Income','World Bank Lower Middle Income', 'World Bank Upper Middle Income','Yemen', 'Zambia', 'Zimbabwe']
drf = drf[~drf['Entity'].isin(drop_countries)]
drf = drf[~drf['Year'].isin(list(range(1990, 2000)))]
drf.reset_index(drop=True)
drf.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
310,Australia,AUS,2000,2094,26103,1090,5190,6162,2467,14,...,13557,5,65,1726,925,0,2,0,5,2
311,Australia,AUS,2001,2058,25603,1081,5133,6220,2441,15,...,13685,5,67,1626,978,0,2,0,5,2
312,Australia,AUS,2002,2007,25299,1080,5116,6361,2436,16,...,13949,5,70,1625,1048,0,2,0,5,2
313,Australia,AUS,2003,1918,24588,1067,5019,6459,2395,18,...,14038,6,72,1667,1103,0,2,0,6,1
314,Australia,AUS,2004,1808,23550,1033,4878,6512,2340,20,...,14000,6,71,1699,1152,0,2,0,6,2

In [9]:
drf['Entity'].unique()

array(['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China',
       'Cyprus', 'Denmark', 'England', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'India', 'Ireland', 'Italy', 'Japan',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Portugal', 'Scotland',
       'Singapore', 'Slovakia', 'Slovenia', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'United Kingdom', 'United States', 'Wales'], dtype=object)

In [10]:
# Consolidate multi-country regions
euro_countries = ['Austria','Belgium','Cyprus','Estonia','Finland','France','Germany','Greece','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Portugal','Slovakia','Slovenia','Spain']
uk_countries = ['England', 'Scotland', 'Wales']
# series2 = drf.groupby(['Year'])[drf['Entity'].isin(['England'])].sum()