In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Foreign exchange rates dataset
fe = pd.read_csv('Foreign_Exchange_Rates.csv', index_col=0)
fe.drop('HONG KONG - HONG KONG DOLLAR/US$', axis=1, inplace=True)
fe.columns

Index(['Time Serie', 'AUSTRALIA - AUSTRALIAN DOLLAR/US$',
       'EURO AREA - EURO/US$', 'NEW ZEALAND - NEW ZELAND DOLLAR/US$',
       'UNITED KINGDOM - UNITED KINGDOM POUND/US$', 'BRAZIL - REAL/US$',
       'CANADA - CANADIAN DOLLAR/US$', 'CHINA - YUAN/US$',
       'INDIA - INDIAN RUPEE/US$', 'KOREA - WON/US$',
       'MEXICO - MEXICAN PESO/US$', 'SOUTH AFRICA - RAND/US$',
       'SINGAPORE - SINGAPORE DOLLAR/US$', 'DENMARK - DANISH KRONE/US$',
       'JAPAN - YEN/US$', 'MALAYSIA - RINGGIT/US$',
       'NORWAY - NORWEGIAN KRONE/US$', 'SWEDEN - KRONA/US$',
       'SRI LANKA - SRI LANKAN RUPEE/US$', 'SWITZERLAND - FRANC/US$',
       'TAIWAN - NEW TAIWAN DOLLAR/US$', 'THAILAND - BAHT/US$'],
      dtype='object')

In [3]:
fe.head()

,Time Serie,AUSTRALIA - AUSTRALIAN DOLLAR/US$,EURO AREA - EURO/US$,NEW ZEALAND - NEW ZELAND DOLLAR/US$,UNITED KINGDOM - UNITED KINGDOM POUND/US$,BRAZIL - REAL/US$,CANADA - CANADIAN DOLLAR/US$,CHINA - YUAN/US$,INDIA - INDIAN RUPEE/US$,KOREA - WON/US$,...,SINGAPORE - SINGAPORE DOLLAR/US$,DENMARK - DANISH KRONE/US$,JAPAN - YEN/US$,MALAYSIA - RINGGIT/US$,NORWAY - NORWEGIAN KRONE/US$,SWEDEN - KRONA/US$,SRI LANKA - SRI LANKAN RUPEE/US$,SWITZERLAND - FRANC/US$,TAIWAN - NEW TAIWAN DOLLAR/US$,THAILAND - BAHT/US$
0,2000-01-03,1.5172,0.9847,1.9033,0.6146,1.805,1.4465,8.2798,43.55,1128,...,1.6563,7.329,101.7,3.8,7.964,8.443,72.3,1.5808,31.38,36.97
1,2000-01-04,1.5239,0.97,1.9238,0.6109,1.8405,1.4518,8.2799,43.55,1122.5,...,1.6535,7.218,103.09,3.8,7.934,8.36,72.65,1.5565,30.6,37.13
2,2000-01-05,1.5267,0.9676,1.9339,0.6092,1.856,1.4518,8.2798,43.55,1135,...,1.656,7.208,103.77,3.8,7.935,8.353,72.95,1.5526,30.8,37.1
3,2000-01-06,1.5291,0.9686,1.9436,0.607,1.84,1.4571,8.2797,43.55,1146.5,...,1.6655,7.2125,105.19,3.8,7.94,8.3675,72.95,1.554,31.75,37.62
4,2000-01-07,1.5272,0.9714,1.938,0.6104,1.831,1.4505,8.2794,43.55,1138,...,1.6625,7.2285,105.17,3.8,7.966,8.415,73.15,1.5623,30.85,37.3

In [4]:
# Convert date to date object and extract year
fe['Time Serie'] = pd.to_datetime(fe['Time Serie'])
fe['Time Serie'] = fe['Time Serie'].dt.year

In [5]:
# Consolidate foreign exchange rates to yearly average
fe_columns = ['Austrailia', 'Euro Area', 'New Zealand', 'United Kingdom', 'Brazil', 'Canada', 'China', 'India', 'South Korea', 
              'Mexico', 'South Africa', 'Singapore', 'Denmark', 'Japan', 'Malaysia', 'Norway', 'Sweden', 'Sri Lanka', 'Switzerland', 'Taiwan', 'Thailand']
fe.replace(to_replace='ND', value=np.nan, inplace=True)
fe = fe.apply(pd.to_numeric)
df = pd.DataFrame()
df['Year'] = fe['Time Serie'].unique()
for i in range(1, len(fe.columns)):
    series = fe.groupby(['Time Serie'])[fe.columns[i]].mean()
    df.insert(i, fe_columns[i-1], series.values)
df

,Year,Austrailia,Euro Area,New Zealand,United Kingdom,Brazil,Canada,China,India,South Korea,...,Singapore,Denmark,Japan,Malaysia,Norway,Sweden,Sri Lanka,Switzerland,Taiwan,Thailand
0,2000,1.727126,1.086398,2.204233,0.661126,1.830128,1.485542,8.278412,44.997476,1130.897540,...,1.724978,8.095254,107.804048,3.800002,8.813068,9.173481,76.964365,1.690408,31.259937,40.209833
1,2001,1.936453,1.117998,2.381929,0.694800,2.352697,1.548735,8.277013,47.219960,1292.014920,...,1.792972,8.332317,121.568040,3.800005,8.996417,10.342548,89.601720,1.689094,33.824296,44.531888
2,2002,1.841163,1.061171,2.161254,0.666690,2.921338,1.570400,8.277051,48.625697,1250.313984,...,1.790782,7.886208,125.220438,3.800016,7.983912,9.723307,95.772749,1.556704,34.536295,43.019204
3,2003,1.540872,0.885085,1.722408,0.612383,3.075000,1.400818,8.277171,46.590797,1192.081673,...,1.742909,6.577386,115.938685,3.800000,7.080261,8.078662,96.541315,1.344976,34.404717,41.555896
4,2004,1.360242,0.804921,1.508478,0.545839,2.926242,1.301674,8.276793,45.260988,1145.236364,...,1.690208,5.989083,108.150830,3.800000,6.739950,7.348018,101.267648,1.242805,33.371913,40.271083
5,2005,1.311738,0.804609,1.419382,0.549990,2.435249,1.211503,8.193588,44.000199,1023.749163,...,1.663917,5.995334,110.106932,3.786920,6.441212,7.470993,100.382570,1.245945,32.131195,40.251606
6,2006,1.327884,0.796718,1.543045,0.543251,2.173765,1.134032,7.972344,45.186056,954.320996,...,1.588243,5.942168,116.312072,3.666098,6.409490,7.371762,103.940279,1.253165,32.506494,37.876255
7,2007,1.194504,0.730424,1.360346,0.499690,1.946141,1.073429,7.605780,41.177402,928.971654,...,1.506506,5.441278,117.762323,3.435413,5.855737,6.754998,110.619606,1.199887,32.854661,32.203031
8,2008,1.194603,0.682577,1.422221,0.544967,1.832632,1.065954,6.947740,43.385913,1098.706111,...,1.413977,5.088500,103.390635,3.329192,5.636512,6.584565,108.297718,1.081557,31.520536,32.962381
9,2009,1.280020,0.719551,1.597137,0.640913,1.997594,1.141152,6.830739,48.332381,1274.625159,...,1.454262,5.357380,93.682659,3.523123,6.290783,7.653918,114.908790,1.085971,33.020032,34.310437
10,2010,1.089864,0.755610,1.387603,0.647759,1.760016,1.029788,6.769602,45.650743,1155.738880,...,1.362936,5.626511,87.781680,3.217518,6.045086,7.205297,112.989920,1.043229,31.497416,31.699720
11,2011,0.968790,0.718608,1.264909,0.623557,1.672296,0.988686,6.463020,46.578167,1106.940040,...,1.256512,5.353521,79.696653,3.056422,5.602244,6.487763,110.469363,0.886197,29.382151,30.462231
12,2012,0.965857,0.778199,1.234682,0.630932,1.953492,0.999494,6.309263,53.374343,1126.162112,...,1.249170,5.792249,79.818008,3.086154,5.818083,6.772107,127.539363,0.937713,29.558076,31.054622
13,2013,1.036169,0.753237,1.219778,0.639802,2.157016,1.030004,6.147754,58.514861,1094.674861,...,1.251063,5.617026,97.597131,3.148777,5.877171,6.512386,129.045817,0.926886,29.679960,30.696295
14,2014,1.108624,0.753280,1.204860,0.607070,2.351193,1.104266,6.161989,60.995252,1052.292400,...,1.266538,5.615075,105.739800,3.269692,6.296869,6.857640,130.536320,0.914693,30.299240,32.461480
15,2015,1.332021,0.901807,1.434496,0.654494,3.336041,1.279139,6.282743,64.107251,1130.960279,...,1.374609,6.726325,121.049084,3.904090,8.068149,8.435019,135.869482,0.962786,31.744303,34.241474
16,2016,1.344380,0.903660,1.435276,0.740624,3.483858,1.324257,6.640016,67.157171,1159.342151,...,1.380006,6.727593,108.656932,4.137169,8.393586,8.554054,145.734661,0.984751,32.226414,35.263546
17,2017,1.304396,0.886731,1.407191,0.776415,3.191002,1.298375,6.756870,65.065944,1129.043534,...,1.380219,6.595658,112.098554,4.298211,8.267928,8.542996,152.434618,0.984233,30.401566,33.913373
18,2018,1.338468,0.847045,1.445482,0.749343,3.651309,1.295665,6.609043,68.373438,1099.292570,...,1.348624,6.313068,110.397390,4.030667,8.131752,8.694461,162.253373,0.978390,30.129357,32.303454
19,2019,1.438971,0.893438,1.518363,0.783731,3.943966,1.326946,6.908139,70.377711,1165.801566,...,1.364098,6.670322,109.018835,4.141557,8.800090,9.460414,178.513655,0.993726,30.904859,31.041928

In [6]:
# Deaths by risk factor dataset
drf = pd.read_csv('Number of Deaths by Risk Factors.csv')
drf.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [7]:
unique_countries = drf['Entity'].unique()
unique_countries

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
# Drop countries and years that do not overlap with foreign exchange rate data
drop_countries = ['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria','American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Azerbaijan','Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus','Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia','Bosnia and Herzegovina', 'Botswana', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad','Chile', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba','Czechia', 'Democratic Republic of Congo', 'Djibouti','Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)','Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)','European Region (WHO)', 'Fiji', 'G20','Gabon', 'Gambia', 'Georgia', 'Ghana', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea','Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary','Iceland', 'Indonesia', 'Iran', 'Iraq',
       'Israel','Jamaica', 'Jordan', 'Kazakhstan','Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos','Latin America & Caribbean (WB)', 'Lebanon', 'Lesotho','Liberia', 'Libya', 'Madagascar','Malawi', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco','Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal','Nicaragua', 'Niger', 'Nigeria','Niue', 'North America (WB)', 'North Korea', 'North Macedonia','Northern Ireland', 'Northern Mariana Islands', 'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines','Poland', 'Puerto Rico', 'Qatar','Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda','Saint Kitts and Nevis', 'Saint Lucia','Saint Vincent and the Grenadines', 'Samoa', 'San Marino','Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa','South Asia (WB)', 'South Sudan','South-East Asia Region (WHO)', 'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Syria', 'Tajikistan', 'Tanzania', 'Timor', 'Togo', 'Tokelau', 'Tonga','Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan','Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam','Western Pacific Region (WHO)', 'World','World Bank High Income', 'World Bank Low Income','World Bank Lower Middle Income', 'World Bank Upper Middle Income','Yemen', 'Zambia', 'Zimbabwe']
drf = drf[~drf['Entity'].isin(drop_countries)]
drf = drf[~drf['Year'].isin(list(range(1990, 2000)))]
drf.tail()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
6565,Wales,NaN,2015,802,5019,388,1114,1234,623,3,...,2705,1,26,324,269,0,0,0,1,0
6566,Wales,NaN,2016,739,4948,384,1100,1251,617,2,...,2708,1,26,338,271,0,0,0,1,0
6567,Wales,NaN,2017,700,4947,387,1105,1268,616,2,...,2740,1,27,346,271,0,0,0,1,0
6568,Wales,NaN,2018,734,5133,402,1148,1274,634,2,...,2824,1,27,347,274,0,0,0,1,0
6569,Wales,NaN,2019,765,5310,415,1183,1291,649,2,...,2902,1,27,349,280,0,0,0,1,0

In [9]:
drf['Entity'].unique()

array(['Australia', 'Austria', 'Belgium', 'Brazil', 'Canada', 'China',
       'Cyprus', 'Denmark', 'England', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'India', 'Ireland', 'Italy', 'Japan',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Malta', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Portugal', 'Scotland',
       'Singapore', 'Slovakia', 'Slovenia', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'United Kingdom', 'United States', 'Wales'], dtype=object)

In [10]:
# Consolidate multi-country regions
uk_countries = ['England', 'Scotland', 'Wales']
# Break out countries list into a new dataframe, drop countries containing name from dataframe
uk_df = pd.DataFrame()
uk_df = drf[drf['Entity'].str.contains('England|Scotland|Wales')]
drf = drf[~drf['Entity'].isin(uk_countries)]
series2 = uk_df.groupby(['Year'], as_index =False)[uk_df.columns[3:]].sum()
uk_df = uk_df[0:0]
uk_df['Year'] = fe['Time Serie'].unique()
uk_df['Entity'] = 'United Kingdom'
uk_df['Code'] = 'UK'
for i in range(1, len(series2.columns)):
    uk_df[series2.columns[i]] = series2[series2.columns[i]].values
uk_df.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,United Kingdom,UK,2000,29332,136477,7903,27455,18402,12709,29,...,56083,8,500,3216,3243,0,3,1,21,6
1,United Kingdom,UK,2001,27579,130059,7639,26413,19153,12282,34,...,54960,9,449,3326,3370,0,3,1,18,6
2,United Kingdom,UK,2002,26790,125320,7490,25869,20183,12048,42,...,54814,11,436,3400,3516,0,3,1,17,4
3,United Kingdom,UK,2003,25661,118945,7251,25097,21112,11703,49,...,54198,12,428,3451,3657,0,3,1,17,5
4,United Kingdom,UK,2004,23926,109738,6839,23682,21574,11094,58,...,52379,14,409,3512,3692,0,2,1,16,5

In [11]:
euro_countries = ['Austria','Belgium','Cyprus','Estonia','Finland','France','Germany','Greece','Ireland','Italy','Latvia','Lithuania','Luxembourg','Malta','Netherlands','Portugal','Slovakia','Slovenia','Spain']
euro_df = pd.DataFrame()
euro_df = drf[drf['Entity'].str.contains('Austria|Belgium|Cyprus|Estonia|Finland|France|Germany|Greece|Ireland|Italy|Latvia|Lithuania|Luxembourg|Malta|Netherlands|Portugal|Slovakia|Slovenia|Spain')]
drf = drf[~drf['Entity'].isin(euro_countries)]
series3 = euro_df.groupby(['Year'], as_index = False)[euro_df.columns[3:]].sum()
series3.reset_index()
euro_df = euro_df[0:0]
euro_df['Year'] = fe['Time Serie'].unique()
euro_df['Entity'] = 'Euro Area'
euro_df['Code'] = 'EURO'
for i in range(1, len(series3.columns)):
    euro_df[series3.columns[i]] = series3[series3.columns[i]].values
euro_df.head()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
0,Euro Area,EURO,2000,159077,697849,56039,137531,223436,41134,209,...,295509,139,1001,21095,26857,0,16,9,77,22
1,Euro Area,EURO,2001,154765,686662,55213,136373,222005,40591,208,...,296529,141,988,21054,27108,0,15,8,74,22
2,Euro Area,EURO,2002,153644,681129,54677,136194,221923,40271,224,...,299526,136,1003,20968,27507,0,15,8,70,20
3,Euro Area,EURO,2003,151174,674661,54226,135822,221840,39824,247,...,302719,150,1015,21017,27808,0,14,7,69,20
4,Euro Area,EURO,2004,144306,647915,52286,131069,216613,38325,254,...,298066,153,990,20717,27232,0,14,6,67,19

In [12]:
drf = pd.concat([drf, uk_df, euro_df])
drf.reset_index(drop=True, inplace=True)
drf.tail()

,Entity,Code,Year,Outdoor air pollution,High systolic blood pressure,Diet high in sodium,Diet low in whole grains,Alcohol use,Diet low in fruits,Unsafe water source,...,High body-mass index,Unsafe sanitation,No access to handwashing facility,Drug use - Sex: Both - Age: All Ages (Number),Low bone mineral density,Vitamin A deficiency,Child stunting,Discontinued breastfeeding,Non-exclusive breastfeeding,Iron deficiency
435,Euro Area,EURO,2015,117696,648017,53452,124227,207490,36763,390,...,326673,211,1192,22755,35661,0,7,4,43,14
436,Euro Area,EURO,2016,110918,651033,53491,124033,206393,36685,393,...,328283,214,1207,22679,36285,0,7,4,42,14
437,Euro Area,EURO,2017,107573,658843,54241,126329,207430,37088,381,...,332224,204,1224,23108,36423,0,6,4,39,11
438,Euro Area,EURO,2018,110250,673755,55298,129519,209771,37654,376,...,338957,195,1249,23569,37178,0,5,3,35,11
439,Euro Area,EURO,2019,112503,689601,56447,132598,213702,38209,374,...,346298,191,1277,24044,38071,0,4,2,35,11